.project{
    width: 100%;
}
.add-project{
    width: 100%;
    background: #000;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
}

.show-project{
    width: 100%;
    background: #000;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}
