<div class="menu">

    <div class="logo">
      <img src="../../../assets/images/Logo.png" alt="">
    </div>


    <ul>
        <li>
          <a 
            routerLink="/dashboard-user/projet-user" 
            [ngClass]="{'active': isActive('/dashboard-user/projet-user')}" 
          >
            <i class="pi pi-home"></i> Acceuil
          </a>
        </li>
        <li>
          <a 
            routerLink="/dashboard-user/resource-user" 
            [ngClass]="{'active': isActive('/dashboard-user/resource-user')}"
          >
            <i class="pi pi-hammer"></i> Resources
          </a>
        </li>
      </ul>
      <br>
      <ul>
        <li>
          <button (click)="logout(true)" id="logout">
            <i class="pi pi-sign-out"></i> Logout
          </button>
        </li>
      </ul>

</div>