<div class="hero">
    <div class="hero-warpper">
      <table id="mat-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
          <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell id="td" *matCellDef="let element" > {{element.name}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header> Quantity </th>
          <td mat-cell id="td" *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Picture">
          <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header> Picture </th>
          <td mat-cell id="td" *matCellDef="let element"> {{element.picture}} </td>
        </ng-container>

           
        <ng-container matColumnDef="Info Fornisseur">
            <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header="infoFornisseur"> Info Fornisseur </th>
            <td mat-cell id="td" *matCellDef="let element"> {{element.infoFornisseur}} </td>
          </ng-container>

          <ng-container matColumnDef="Tache id">
            <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header> Tache id </th>
            <td mat-cell id="td" *matCellDef="let element"> {{element.tacheId}} </td>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <th mat-header-cell id="th" *matHeaderCellDef>Remove</th>
            <td mat-cell id="td" *matCellDef="let element">
              <button mat-button class="delete"  color="warn"  id="remove" (click)="deleteResource(element.id)">
                Delete
              </button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Update">
            <th mat-header-cell id="th" *matHeaderCellDef>Update</th>
            <td mat-cell id="td" class="update" *matCellDef="let element">
              <a [routerLink]="['/dashboard/resources/update', element.id]" mat-button color="primary" id="update" >
                Update
              </a>
            </td>
          </ng-container>

        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
  
      <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
        <button class="page-link page" (click)="onPageChange(page)">{{ page }}</button>
      </li>
  
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
   