.resources-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

  }
  
  .mat-elevation-z4{
    background: #948c8d !important;
    border: none;
    box-shadow: none;
    border-radius: 8px;
  }

  .resource-card {
    width: 31%;
    margin: 10px;
    
  }
  
  .mat-card {
    border-radius: 8px;
    
  }
  
  
  .mat-card-content {
    font-size: 14px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  #card-content > h5{
    padding: 10px 0 ;
    font-weight: 900;
    font-size: 18px;
  }
  span{
    text-decoration: underline;
    font-weight: 700;
  }
  button{
    padding: 8px;
    background: pink;
  }
  .show-resource{
    width: 100%;
    background: black;
  
    border-radius: 12px ;
    padding: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 20px;
    padding: 10px 0; 
    color: white;
    font-weight: 900;
}
