form{
    width: 100%;
    display: flex;
    align-items: center;
}
label{
    color: white !important;
    font-weight: 700;
}
.group{
    width: 30%;
    display: flex;
    align-items: center;
}
.group > select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
}
form > button{
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}