<!-- <div class="hero">
    <div class="hero-warpper">
      <table id="mat-table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Date Creation">
          <th mat-header-cell *matHeaderCellDef> Date Creation </th>
          <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
        </ng-container>

           
        <ng-container matColumnDef="Date Fin">
            <th mat-header-cell *matHeaderCellDef> Date Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.dateFin}} </td>
          </ng-container>

          <ng-container matColumnDef="Budget">
            <th mat-header-cell *matHeaderCellDef> Budget </th>
            <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let element">
              <button  mat-button  color="warn"  id="remove" (click)="deleteProjet(element.id)">
                Delete
              </button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/dashboard/projet/update', element.id]" mat-button color="primary" id="update" >
                Update
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="Taches">
            <th mat-header-cell *matHeaderCellDef>Taches</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/dashboard/tache', element.id]" mat-button color="primary" id="task" >
                Taches
              </a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

 
  <mat-paginator [length]="totalElements"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)">
</mat-paginator>
     
 -->
 <table mat-table [dataSource]="projets" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell id="th" *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.id }} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell id="th" *matHeaderCellDef> Name </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.name }} </td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell id="th" *matHeaderCellDef> Description </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.description }} </td>
  </ng-container>


  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell id="th" *matHeaderCellDef> Date Creation </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.dateCreation }} </td>
  </ng-container>


  <ng-container matColumnDef="dateFin">
    <th mat-header-cell id="th" *matHeaderCellDef> Date Fin </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.dateFin }} </td>
  </ng-container>


  <ng-container matColumnDef="budget">
    <th mat-header-cell id="th" *matHeaderCellDef> Budget </th>
    <td mat-cell id="td" *matCellDef="let projet"> {{ projet.budget }} </td>
  </ng-container>


  <ng-container matColumnDef="delete">
    <th mat-header-cell id="th" *matHeaderCellDef> Delete </th>
    <td mat-cell id="td" *matCellDef="let projet">
      <button mat-button class="delete" (click)="deleteProjet(projet.id)"><i class="pi pi-trash"></i></button>
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell id="th" *matHeaderCellDef> Modefier </th>
    <td mat-cell id="td" *matCellDef="let projet">
      <a mat-cell id="td" class="update" [routerLink]="['update', projet.id]">Update</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="tache">
    <th mat-header-cell id="th" *matHeaderCellDef> Tache </th>
    <td mat-cell id="td" *matCellDef="let projet">
      <a mat-cell id="td" class="tache" [routerLink]="['/dashboard/tache', projet.id]">Taches</a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
      <button class="page-link page" (click)="onPageChange(page)">{{ page }}</button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>


