<h2>Modifier Projet</h2>
<form [formGroup]="ProjetForm" (ngSubmit)="updateProjet()">
    <div class="group">
        <input type="text"placeholder="Entrer nom du projet..." formControlName="name" id="name">
    </div>
    <div class="group">
        <input type="text"placeholder="Entrer description du projet..." formControlName="description" id="description">
    </div>
    <div class="group">
        <input type="date" formControlName="dateFin" id="dateFin">
    </div>
    <div class="group">
        <input type="number"placeholder="Entrer budget..." formControlName="budget" id="budget">
    </div>
    <button type="submit">update</button>

</form>
